[submodule "themes/zdoc"]
	path = themes/zdoc
	url = https://github.com/zzossig/hugo-theme-zdoc.git
[submodule "themes/techdoc"]
	path = themes/techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
